-e git+git@github.com:nprapps/authomatic.git@b28b08aef64d0d0ce7d25b9e70e22d2ec0482cea#egg=Authomatic-master
Fabric==1.4.3
Flask==0.9
Jinja2==2.6
MarkupSafe==0.23
PyYAML==3.11
Rdio==0.3.0
Werkzeug==0.8.3
awscli==1.2.10
bcdoc==0.12.0
boto==2.25.0
botocore==0.31.0
clan==0.1.3
colorama==0.2.5
copytext==0.1.4
cssmin==0.1.4
docutils==0.11
facebook-sdk==0.4.0
gnureadline==6.3.3
google-api-python-client==1.2
gunicorn==19.1.1
httplib2==0.9
ipdb==0.8
ipython==3.1.0
jdcal==1.0
jmespath==0.2.1
nose==1.2.1
odict==1.5.1
openpyxl==1.8.5
ply==3.4
pyasn1==0.1.7
pycrypto==2.6
python-dateutil==2.2
requests==2.4.3
rsa==3.1.2
six==1.5.2
slimit==0.7.4
smartypants==1.8.6
spotipy==2.2.0
ssh==1.7.14
termcolor==1.1.0
twitter==1.14.3
wheel==0.23.0
wsgiref==0.1.2
