<div class="song container-fluid">
    <div class="song-info">
        <img class="album-cover img-responsive" src="/assets/img/2chainz.jpg">
        <div class="song-info-wrapper">
            <h2 class="artist"><%= artist %></h2>
            <h1 class="song-title">&lsquo;<%= title %>&rsquo;</h1>

            <div class="review-wrapper">
                <p class="review"><%= review %></p>
                <p class="byline"><span class="mug"><img src="/assets/img/<%= reviewer_img_file %>"></span> <span class="name"><%= reviewer %></span></p>
            </div>

            <div class="tags">
                <ul class="list-unstyled">
                    <% for(i = 0; i < tags.length; i++) { %>
                        <li><a href="#"><%= tags[i] %></a></li>
                    <% } %>
                </ul>
            </div>
            <a class="skip" href="#">Nextz</a>
        </div>
    </div>
</div>

<div class="gif">
    <x-gif src="http://i.imgur.com/mYUdAEi.gif" fill bpm="<%= bpm %>"></x-gif>
</div>