<div class="song container-fluid">
    <div class="song-info">
        <img class="album-cover img-responsive" src="/assets/img/2chainz.jpg">
        <div class="song-info-wrapper">
            <h2 class="artist"><%= artist %></h2>
            <h1 class="song-title">&lsquo;<%= title %>&rsquo;</h1>

            <div class="review-wrapper">
                <p class="review">A dry, tasteful romp twists Pharrell's croon and a guitar wail into hollow tones and itchy 808s, which makes 2 Chainz's preposterous-sounding claims just plausible enough.</p>
                <p class="byline"><span class="mug"><img src="/assets/img/<%= reviewer_img_file %>"></span> <span class="name"><%= reviewer %></span></p>
            </div>

            <div class="tags">
                <ul class="list-unstyled">
                    <% for(i = 0; i < tags.length; i++) { %>
                        <li><a href="#"><%= tags[i] %></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>