<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ COPY.content.project_name }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    {% include '_social_tags.html' %}

    <script type="text/javascript">
        if ('registerElement' in document
        && 'createShadowRoot' in HTMLElement.prototype
        && 'import' in document.createElement('link')
        && 'content' in document.createElement('template')) {
            // We're using a browser with native WC support!
        } else {
            document.write('<script src="https:\/\/cdnjs.cloudflare.com/ajax/libs/polymer/0.3.4/platform.js"><\/script>')
        }
    </script>
    <link rel="import" href="/xgif">

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    {% block outer_content %}

        {% block header_content %}
        {% endblock header_content %}

        {% block content %}
        {% endblock content %}

        {% block wide_content %}
        {% endblock wide_content %}

    {% endblock outer_content %}

    {% block comments %}
    <div id="comments" class="comments-container comments-panel"></div>
    {% endblock %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/ZeroClipboard.js') }}
    {{ JS.push('js/lib/jquery.jplayer.js') }}
    {{ JS.push('js/lib/simpleStorage.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/ads.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/comments.js') }}
    {{ JS.push('js/app.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    {# Adhesion ad #}
    <div id="adhesion">
        <script type="text/javascript">
        if (Modernizr.touch && Modernizr.mq('(max-width: 1024px)')) {
            var ord = Math.floor(Math.random() * 1e16);

            var size = '640x100';

            if (Modernizr.mq('only screen and (min-width: 768px)')) {
                size = '2048x180';
            }

            document.write('<scr' + 'ipt type="text/javascript" src="http://ad.doubleclick.net/N6735/adj/n6735.nprmobile/' + APP_CONFIG.NPR_DFP.TARGET + ';storyId=' + APP_CONFIG.NPR_DFP.STORY_ID + ';testserver=false;sz=' + size + ';ord=' + ord + '?"><\/script>');
        }
        </script>
    </div>
</body>
</html>
