<div class = 'filter-head container-fluid' style="display: none;" >
</div>

<div class="playlist-filters">

    <div class="playlist-filters-wrapper">
        <h3>Shuffle</h3>
        <ul class="tags list-unstyled">
            <li><a href="#" class="shuffle-songs">All Our Favorite Songs</a></li>
        </ul>

        <div class="genre">
            <h3>Select a genre</h3>
            <ul class="tags list-unstyled">
                {% for tag in GENRE_TAGS %}
                <li><a class="disabled genre-btn" data-tag="{{ tag }}" href="#">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="reviewer">
            <h3>Select a reviewer mixtape</h3>

            <ul class="reviewers tags list-unstyled">
                {% for reviewer in REVIEWER_TAGS %}
                <li>
                    <a class="disabled" data-tag="{{ reviewer }}" href="#">
                        <span class="mug"><img src="{{ S3_BASE_URL }}/assets/img/headshots/{{ REVIEWER_IMAGES[reviewer] }}"></span>
                        <span class="bio"><span class="name">{{ reviewer }}</span> {{ REVIEWER_BIOS[reviewer]|safe }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <p class="instructions">Currently playing <span class="song-count"><span class="playlist-length"></span> songs out of <span class="total-songs"></span>.</span>

        <div class="tools visible-xs">
            <div class="full-list">
                <a href="http://www-s1.npr.org/2014/12/02/365443181/our-favorite-songs-of-2014" target="_blank"><i class="fa fa-list-ul"></i> Read the full list</a>
            </div>

            <div class="visible-xs share">
                <a class="" data-toggle="modal" data-backdrop="static" data-target="#share-modal"><i class="fa fa-share"></i> <span>Share</span></a>
            </div>
        </div>

        <div class="credits">
            <h3>Project Credits</h3>
            <p>NPR Music: {{ COPY.content.music_credits }}</p>
            <p>Design and Development: {{ COPY.content.viz_credits }}
        </div>
    </div>
</div>
