<div class = 'filter-head container-fluid' style="display: none;" >
</div>

<div class="playlist-filters">

    <div class="playlist-filters-wrapper">
        <p class="instructions">Currently playing <span class="song-count"><span class="playlist-length"></span> songs out of <span class="total-songs"></span>.</span>

        <div class="shuffle">
            <h3>Shuffle</h3>
            <ul class="tags list-unstyled">
                <li><a href="#" class="shuffle-songs">All Our Favorite Songs</a></li>
            </ul>
        </div>

        <div class="genre">
            <h3>Genre</h3>
            <ul class="tags list-unstyled">
                {% for tag in GENRE_TAGS %}
                <li><a class="disabled" data-tag="{{ tag }}" href="#">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="reviewer">
            <h3>Our Mixtapes</h3>
                <ul class="reviewers list-unstyled">
                    {% set dj_bio = cycler('metal and polka', 'ska and screamo') %}
                    {% for reviewer, img in REVIEWER_IMAGES.items() %}
                    <li>
                        <a class="disabled" data-tag="{{ reviewer }}" href="#">
                            <img class="mug" src="{{ S3_BASE_URL }}/assets/img/{{ img }}">
                            <span class="bio"><span class="name">{{ reviewer }}</span>  likes {{ dj_bio.next() }}.</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
        </div>

        <div class="clear">
            <p class="played-songs">Songs played so far: <span class="played-songs-length"></span></p>
            <a class="btn btn-default clear-history">Clear history</a>
        </div>
    </div>
</div>