<div class = 'filter-head container-fluid' style="display: none;" >
</div>

<div class="playlist-filters">

    <div class="playlist-filters-wrapper">
<!--         <div class="shuffle">
            <h3>Shuffle</h3>
            <ul class="tags list-unstyled">
                
            </ul>
        </div> -->

        <div class="genre">
            <h3>Select a station</h3>
            <ul class="tags list-unstyled">
                {% for tag in GENRE_TAGS %}
                <li><a class="disabled" data-tag="{{ tag }}" href="#">{{ tag }}</a></li>
                {% endfor %}
                <li><a href="#" class="shuffle-songs">All Our Favorite Songs</a></li>
            </ul>
        </div>

        <div class="reviewer">
                <ul class="reviewers tags list-unstyled">
                    {% set dj_bio = cycler('metal and polka', 'ska and screamo') %}
                    {% for reviewer in REVIEWER_TAGS %}
                    <li>
                        <a class="disabled" data-tag="{{ reviewer }}" href="#">
                            <img class="mug" src="{{ S3_BASE_URL }}/assets/img/{{ REVIEWER_IMAGES[reviewer] }}">
                            <span class="bio"><span class="name">{{ reviewer }}</span>  likes {{ dj_bio.next() }}.</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
        </div>

        <p class="instructions">Currently playing <span class="song-count"><span class="playlist-length"></span> songs out of <span class="total-songs"></span>.</span>

    </div>
</div>
