<div class="player-container">
    <div class="player-wrapper">
        <div class="player">
            <div id="audio-player" class="jp-jplayer"></div>
            <div id="jp_container_1" class="jp-audio">
                <div class="jp-type-single">
                    <div class="gui">
                        <div class="controls">
                            <a href="javascript:;" class="play player-button" tabindex="1" title="play"><i class="fa fa-play"></i></a>
                            <a href="javascript:;" class="pause player-button" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
                        </div>
                        <div class="jp-progress-container">
                            <div class="player-progress jp-progress">
                                <h2 class="artist"></h2>
                                <h1 class="song-title"></h1>
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="playback-info">
                            <div class="current-time"></div>
                            <p class="skips"><span class="skips-remaining"></span> remaining</p>
                        </div>

                        <a class="skip player-button" href="#"><i class="fa fa-step-forward"></i></a>
                    </div>
                </div>
            </div> <!-- end .jp-audio -->
        </div> <!-- end #audio -->
    </div>
</div>