<div class="app-promo">
	<p>Listen to the full list or filter the playlist by genre or reviewer in our app.</p>
	<p><a href="http://apps.npr.org/best-songs-2014/"><strong>► Launch the app!</strong></a></p>
</div>

<hr />

<p>Jump directly to a genre:</p>

<p>
{% for genre, songs in songs|groupby('genre1') %}
	<a href="#genre-{{ genre|lower|replace(' ', '')|replace('/','') }}"><strong>{{ genre }}</strong></a><br>
{% endfor %}
</p>

{% for genre, songs in songs|groupby('genre1') %}
	<a name="genre-{{ genre|lower|replace(' ', '')|replace('/','') }}"></a>
	{% for song in songs %}
		<p><strong>{{ song.artist }}, "{{ song.title }}"</strong></p>
		<p>{{ song.review }}</p>
		<p><em>– {{ song.reviewer }}{% if song.reviewer_affiliation %}, {{ song.reviewer_affiliation }} {% endif %}</em></p>
	{% endfor %}
{% endfor %}

