<div class="app-promo">
	<p>We made you a mixtape. A really long mixtape. In the past, we've kept this list, of our favorite songs of the year, to 100 songs. A nice, round, semi-arbitrary number that always meant leaving out dozens of our favorites.</p>
	<p>Not this year. Instead, we turned our tidy list of songs into a massive, party-starting player in which you can actually listen to every single one of the 302 songs we loved this year, from every genre we cover. You'll find a 19-minute doom-metal epic and a few two-minute punk explosions. Classic-sounding R&B and Vine-inspiring hip-hop. Ecstatic choruses and devastating harmonies. Beats from around the world and unwavering political folk from here at home and plenty more that blurred the boundaries.</p>
	<p>You can scan the complete list of songs below, but to get the full experience click the launch link below to hear them all. You can sort by genre or select a playlist created by members of NPR Music's staff and our member station partners, or just hit shuffle and listen until you find a new favorite of your own. You can also find the list on <a href="http://rd.io/x/QFXtL_lkeg/" target="_blank">Rdio</a> and <a href="http://open.spotify.com/user/npr_music/playlist/7smLrFGGXClJdQVTr7vxoZ" target="_blank">Spotify</a>.</p>
	<p><a href="http://apps.npr.org/best-songs-2014/"><strong>► Launch the app!</strong></a></p>
</div>

<hr />

<p>Jump directly to a genre:</p>

<p>
{% for genre, songs in songs|groupby('genre1') %}
	<a href="#genre-{{ genre|lower|replace(' ', '')|replace('/','') }}"><strong>{{ genre }}</strong></a><br>
{% endfor %}
</p>

{% for genre, songs in songs|groupby('genre1') %}
	<a name="genre-{{ genre|lower|replace(' ', '')|replace('/','') }}"></a>
	{% for song in songs %}
		<p><strong>{{ song.artist }}, "{{ song.title }}"</strong></p>
		<p>{{ song.review }}</p>
		<p><em>– {{ song.reviewer }}{% if song.reviewer_affiliation %}, {{ song.reviewer_affiliation }} {% endif %}</em></p>
	{% endfor %}
{% endfor %}

