{% extends '_base.html' %}

{% block content %}
<div class="chromecast-screen">
    <div class="fixed-header">
        <a href="http://npr.org/music"><img class="logo img-responsive" src="{{ S3_BASE_URL }}/assets/img/npr_music_rgb.svg"></a>
        <h4 class="slug">{{ COPY.content.brand }}</h4>
        <h1 class="title">{{ COPY.content.project_name }}</h1>
    </div>

    {% include '_songs.html' %}
    {% include '_player.html' %}
</div>

<script>
    var SONG_DATA = {{ song_data|safe }};
</script>

<script src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>

{% endblock %}