{% extends '_base.html' %}

{% block content %}
<div class="landing">
    <div class="landing-wrapper">
        <div class="landing-content">
            <a href="http://npr.org/music"><img class="logo img-responsive" src="{{ S3_BASE_URL }}/assets/img/npr_music_rgb.svg"></a>
            <div class="landing-card">
                <h4 class="slug">{{ COPY.content.brand }}</h4>
                <h1 class="title">{{ COPY.content.project_name }}</h1>
                <h2>{{ COPY.content.subtitle }}</h2>

                <div class="landing-firstload-deck">
                    <div class="tags-wrapper">
                        <p>Play a genre:</p>
                        <ul class="tags list-unstyled">
                            {% for tag in GENRE_TAGS %}
                            <li><a data-tag="{{ tag }}" href="#">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                        <p>Or</p>
                        <a class="go" href="#">Shuffle</a>
                        <p class="headphone-prompt"><span class="fa fa-headphones"></span> Put On Your Headphones</p>
                    </div>
                </div>
                <div class="landing-return-deck">
                    <div class="tags-wrapper">
                        <h3>Welcome Back!</h3>

                        <a class="continue" href="#">Resume</a>
                        <p class="headphone-prompt"><span class="fa fa-headphones"></span> Put On Your Headphones</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="poster-static">
    </div>
    <div class="poster">
        <p class="loading">Starting your mix</p>
    </div>
</div>

<div class="fixed-header">
    <a href="http://npr.org/music"><img class="logo img-responsive" src="{{ S3_BASE_URL }}/assets/img/npr_music_rgb.svg"></a>
    <h4 class="slug">{{ COPY.content.brand }}</h4>
    <h1 class="title">{{ COPY.content.project_name }}</h1>

    <div class="fixed-header-controls">
        <div class="chromecast" style="display: none;">
            <a href="#" class="start"><img src="{{ S3_BASE_URL }}/assets/chromecast_off.svg"> Cast</a>
            <a href="#" class="stop"><img src="{{ S3_BASE_URL }}/assets/chromecast_on.svg"> Stop Casting</a>
        </div>

        <div class="fullscreen" style="display: none;">
            <a href="#" class="start"><span class="fa fa-arrows-alt"></span> Fullscreen</a>
            <a href="#" class="stop" style="display: none;"><span class="fa fa-arrows-alt"></span> Exit fullscreen</a>
        </div>

        <div class="share">
            <a class="" data-toggle="modal" data-backdrop="static" data-target="#share-modal"><i class="fa fa-share"></i> <span>Share</span></a>
        </div>
    </div>
</div>

<div class="cast-controls">
    {% include '_cast-player.html' %}
    {% include '_filter.html' %}
    {% include '_songs.html' %}
</div>

<div class="stack">
    {% include '_songs.html' %}
    {% include '_player.html' %}
    {% include '_share_modal.html' %}
</div>

<script>
    var SONG_DATA = {{ song_data|safe }};
</script>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
{% endblock %}

