{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}

<div class="landing">
    <div class="landing-content">
        <img class="logo img-responsive" src="{{ S3_BASE_URL }}/assets/img/npr_music_rgb.svg">
        <div class="landing-card">
            <h4 class="slug">{{ COPY.content.brand }}</h4>
            <h1 class="title">{{ COPY.content.project_name }}</h1>
            <h2>{{ COPY.content.subtitle }}</h2>

            <a class="go" href="#">Shuffle</a>

            <h3>Or choose a mood:</h3>
            <ul class="tags list-unstyled">
                {% for tag in MOOD_TAGS|sort %}
                <li><a data-tag="{{ tag }}" href="#">{{ tag }}</a></li>
                {% endfor %}
            </ul>

            <a class="continue" href="#"><i class="fa fa-play"></i> Continue Playlist</a>
        </div>
    </div>
    <div class="poster"></div>
</div>

<div class="songs"></div>

<div class="player-container container-fluid">
    <div class="row">
        <div class="player-wrapper">
            <div class="player">
                <div id="audio-player" class="jp-jplayer"></div>
                <div id="jp_container_1" class="jp-audio">
                    <div class="jp-type-single">
                        <div class="jp-gui jp-interface">
                            <div class="jp-controls controls">
                                <a href="javascript:;" class="jp-play player-button" tabindex="1" title="play"><i class="fa fa-play"></i></a>
                                <a href="javascript:;" class="jp-pause player-button" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
                            </div>
                            <div class="jp-progress-container">
                            <div class="player-progress jp-progress">
                                <h2 class="artist"></h2>
                                <h1 class="song-title"></h1>
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar bar"></div>
                                </div>
                            </div>
                            </div>
                            <div class="current-time"></div>
                        </div>
                    </div>
                </div> <!-- end .jp-audio -->
            </div> <!-- end #audio -->
            <a class="skip" href="#">Skip</a>
        </div>
    </div>
</div>

<div class = 'filter-head container-fluid' style="display: none;" >

</div>

<div class="playlist-filters tags" style="display: none;">

    <h2 class="filter-title">Playing Now <span class="song-count"><span class="playlist-length"></span> songs out of 250</span></h2>
    <p class="instructions">Click the filters below to remove songs from your mixtape. <span class="warning">(Your playlist must be seven songs long. Please select more tags.)</span></p>

    <div class="mood">
        <h3>Mood</h3>
        <ul class="list-unstyled">
            {% for tag in MOOD_TAGS %}
            <li><a class="disabled" data-tag="{{ tag }}" href="#">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="genre">
        <h3>Genre</h3>
        <ul class="list-unstyled">
            {% for tag in GENRE_TAGS %}
            <li><a class="disabled" data-tag="{{ tag }}" href="#">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>


<script>
var SONG_DATA = {{ song_data|safe }};

</script>



{% endblock %}


{% block wide_content %}
    {% include '_share_modal.html' %}
{% endblock %}


