{% extends '_base.html' %}

{% block content %}
<div class="landing">
    <div class="landing-wrapper">
        <div class="landing-content">
            <a href="http://npr.org/music"><img class="logo img-responsive" src="{{ S3_BASE_URL }}/assets/img/npr_music_rgb.svg"></a>
            <div class="landing-card">
                <h4 class="slug">{{ COPY.content.brand }}</h4>
                <h1 class="title">{{ COPY.content.project_name }}</h1>
                <h2>{{ COPY.content.subtitle }}</h2>

                <div class="landing-firstload-deck">
                    <div class="tags-wrapper">
                        <p>Play a genre:</p>
                        <ul class="tags list-unstyled">
                            {% for tag in GENRE_TAGS %}
                            <li><a data-tag="{{ tag }}" href="#">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                        <p>Or</p>
                        <a class="go" href="#">Shuffle</a>
                    </div>
                </div>
                <div class="landing-return-deck">
                    <div class="tags-wrapper">
                        <h3>Welcome Back!</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="poster"></div>
    </div>
</div>

<div class="fixed-header">
    <a href="http://npr.org/music"><img class="logo img-responsive" src="{{ S3_BASE_URL }}/assets/img/npr_music_rgb.svg"></a>
    <h4 class="slug">{{ COPY.content.brand }}</h4>
    <h1 class="title">{{ COPY.content.project_name }}</h1>

    <div class="fixed-header-controls">
        <div class="chromecast">
            <a href="#" class="start btn btn-default">Start Chromecast</a>
            <a href="#" class="stop btn btn-default">Stop Chromecast</a>
        </div>

        <div class="share">
            <a class="btn btn-default" data-toggle="modal" data-backdrop="static" data-target="#share-modal"><strong>Share</strong> <i class="fa fa-share"></i></a>
        </div>

        <div class="fullscreen">
            <a href="#" class="start btn btn-default"><span class="fa fa-arrows-alt"></span> Start fullscreen!</a>
            <a href="#" class="stop btn btn-default"><span class="fa fa-arrows-alt"></span> Stop fullscreen!</a>
        </div>
    </div>
</div>

{% include '_songs.html' %}
{% include '_player.html' %}
{% include '_filter.html' %}
{% include '_share_modal.html' %}

<script>
    var SONG_DATA = {{ song_data|safe }};
</script>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
{% endblock %}

